<a href="https://colab.research.google.com/github/tchappui/webinaire-repositorypattern-20190401/blob/master/jupyter/data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
!wget https://raw.githubusercontent.com/tchappui/webinaire-repositorypattern-20190401/master/data/movie_metadata.csv &> /dev/null

In [0]:
df = pd.read_csv('movie_metadata.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [0]:
selection = [
    'director_name', 
    'actor_1_name', 
    'actor_2_name', 
    'actor_3_name', 
    'genres', 
    'plot_keywords', 
    'title_year', 
    'imdb_score', 
    'content_rating',
    'country',
    'title_year',
    'movie_imdb_link',
]

In [6]:
df = df[selection]
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,plot_keywords,title_year,imdb_score,content_rating,country,title_year,movie_imdb_link
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar|future|marine|native|paraplegic,2009.0,7.9,PG-13,USA,2009.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action|Adventure|Fantasy,goddess|marriage ceremony|marriage proposal|pi...,2007.0,7.1,PG-13,USA,2007.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action|Adventure|Thriller,bomb|espionage|sequel|spy|terrorist,2015.0,6.8,PG-13,UK,2015.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action|Thriller,deception|imprisonment|lawlessness|police offi...,2012.0,8.5,PG-13,USA,2012.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,Doug Walker,Doug Walker,Rob Walker,NaN,Documentary,NaN,NaN,7.1,NaN,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...

In [0]:
def group_actors(row):
    actors = [row.actor_1_name, row.actor_2_name, row.actor_2_name]
    row['actors'] = actors
    return row

df = df.apply(group_actors, axis=1)
df['genres'] = df.genres.str.lower().str.split('|')
df['keywords'] = df.plot_keywords.str.split('|')

In [8]:
df = df.drop(labels=['actor_1_name', 'actor_2_name', 'actor_3_name', 'plot_keywords'], axis=1).dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4602 entries, 0 to 5042
Data columns (total 10 columns):
director_name      4602 non-null object
genres             4602 non-null object
title_year         4602 non-null float64
imdb_score         4602 non-null float64
content_rating     4602 non-null object
country            4602 non-null object
title_year         4602 non-null float64
movie_imdb_link    4602 non-null object
actors             4602 non-null object
keywords           4602 non-null object
dtypes: float64(3), object(7)
memory usage: 395.5+ KB

In [9]:
df.head()

,director_name,genres,title_year,imdb_score,content_rating,country,title_year,movie_imdb_link,actors,keywords
0,James Cameron,"[action, adventure, fantasy, sci-fi]",2009.0,7.9,PG-13,USA,2009.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,"[CCH Pounder, Joel David Moore, Joel David Moore]","[avatar, future, marine, native, paraplegic]"
1,Gore Verbinski,"[action, adventure, fantasy]",2007.0,7.1,PG-13,USA,2007.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,"[Johnny Depp, Orlando Bloom, Orlando Bloom]","[goddess, marriage ceremony, marriage proposal..."
2,Sam Mendes,"[action, adventure, thriller]",2015.0,6.8,PG-13,UK,2015.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,"[Christoph Waltz, Rory Kinnear, Rory Kinnear]","[bomb, espionage, sequel, spy, terrorist]"
3,Christopher Nolan,"[action, thriller]",2012.0,8.5,PG-13,USA,2012.0,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,"[Tom Hardy, Christian Bale, Christian Bale]","[deception, imprisonment, lawlessness, police ..."
5,Andrew Stanton,"[action, adventure, sci-fi]",2012.0,6.6,PG-13,USA,2012.0,http://www.imdb.com/title/tt0401729/?ref_=fn_t...,"[Daryl Sabara, Samantha Morton, Samantha Morton]","[alien, american civil war, male nipple, mars,..."